" Use ctrl-c as an ide shortcut in normal and visual modes
sethandler <C-C> n-v:ide i:vim

" sethandler <C-A> a:vim
" sethandler <C-F> a:vim
" sethandler <C-K> a:vim
" sethandler <C-P> a:vim
" sethandler <C-V> a:vim
" sethandler <C-W> a:vim
" sethandler <C-]> a:vim
