!!                _    _
!!               \ \  / /
!!                \ \/ /  ____ ____  ___  ___  _   _  ____ ____ ____  ___
!!                 )  (  / ___) _  )/___)/ _ \| | | |/ ___) ___) _  )/___)
!!              _ / /\ \| |  ( (/ /|___ | |_| | |_| | |  ( (__( (/ /|___ |
!!             (_)_/  \_\_|   \____|___/ \___/ \____|_|   \____)____|___/
!!
!!

Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! window padding
/* st.borderpx: 12 */

/* *background: #24283b */
/* *foreground: #c0caf5 */
st.background: #1a1b26
st.foreground: #c0caf5

st.fading:                          8
st.fadeColor:                       black
st.cursorColor:                     #E4E4E4	
!!*cursorColor:                     #6df702	
st.pointerColorBackground:          #2B2C2B
st.pointerColorForeground:          #16A085

!! Transparency (0-1):
st.alpha: 0.9
st.alphaOffset: 0.3
st.font: JetBrainsMono Nerd Font:pixelsize=12:antialias=true:autohint=true;

! terminal padding color
! *borderColor: #24283b

/* !! black dark/light */
/* *color0:                          #282a36 */
/* *color8:                          #4D4D4D */

/* !! red dark/light */
/* *color1:                          #ff5555 */	
/* *color9:                          #FF6E67 */

/* !! green dark/light */
/* *color2:                          #50fa7b */	
/* *color10:                         #5AF78E */

/* !! yellow dark/light */
/* *color3:                          #f1fa8c */	
/* *color11:                         #F4F99D */

/* !! blue dark/light */
/* *color4:                          #42A5F5 */
/* *color12:                         #42cbf5 */

/* !! magenta dark/light */
/* *color5:                          #FF79C6 */
/* *color13:                         #FF92D0 */

/* !! cyan dark/light */
/* *color6:                          #8be9fd */	
/* *color14:                         #9AEDFE */

/* !! white dark/light */
/* *color7:                          #BFBFBF */
/* *color15:                         #E6E6E6 */

! TokyoNight colors for Xresources

 *color0: #1D202F 
 *color1: #f7768e 
 *color2: #9ece6a 
 *color3: #e0af68 
! *color4: #7aa2f7 
 *color5: #bb9af7 
! *color6: #7dcfff 
 *color7: #a9b1d6 

 *color8: #414868 
 *color9: #f7768e 
 *color10: #9ece6a
 *color11: #e0af68
! *color12: #7aa2f7
 *color13: #bb9af7
! *color14: #7dcfff
 *color15: #c0caf5

 Xcursor.theme: xcursor-breeze
 Xcursor.size:                     0

! Rofi
rofi.font: monospace 12
rofi.bw: 0
rofi.padding: 20
rofi.line-padding: 2
rofi.color-enabled: true
rofi.hide-scrollbar: true
rofi.separator-style: solid
rofi.color-window: #2c2d33, #ffffff, #2c2d33
rofi.color-normal: #2c2d33, #ffffff, #2c2d33, #57C7FF, #2c2d33
rofi.color-urgent: argb:00000000, #F0719B, argb:00000000, argb:00000000, #FFA56B
rofi.color-active: argb:00000000, #57C7FF, argb:00000000, argb:00000000, #FFA56B
rofi.kb-cancel: Escape,Alt+F1

! xterm
xterm*termName: xterm-256color
xterm*font: monospace
xterm*faceName: monospace:size=11
xterm*loginShell: true
xterm*vt100*geometry: 90x34
xterm*saveLines: 2000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*eightBitInput: false

! URxvt
URxvt*saveline: 15000
URxvt*termName: rxvt-256color
URxvt*iso14755: false
URxvt*depth: 32
!URxvt*background: [95]#2c2d33
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*internalBorder: 16
URxvt*externalBorder: 0
URxvt*letterSpace: -1
URxvt.font: xft:monospace:size=11
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.m-c: perl:clipboard:copy
URxvt.keysym.m-v: perl:clipboard:paste
URxvt.urlLauncher: exo-open
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.geometry: 90x34
URxvt.tabbed.tabbar-fg: 4
URxvt.tabbed.tabbar-bg: 16
URxvt.tabbed.tab-fg: 15
URxvt.tabbed.tab-bg: 4
URxvt*buffered: false

! UXTerm
UXTerm*termName: xterm-256color
UXTerm*cursorColor: white
UXTerm*VT100.geometry: 90x34
UXTerm*font: monospace
UXTerm*faceSize: 11
UXTerm*dynamicColors: true
UXTerm*utf8: 2
UXTerm*eightBitInput: true
UXTerm*saveLines: 10000
UXTerm*scrollKey: true
UXTerm*scrollTtyOutput: false
UXTerm*scrollBar: false
UXTerm*rightScrollBar: false
UXTerm*jumpScroll: true
UXTerm*multiScroll: true
UXTerm*toolBar: false
